{% extends 'shorting/base.html' %}
{% load static %}

{% block styles %}
    <style>
    .form-postin {
    padding-top: 250px;
    text-align: center;
    }

    .copy {
    position: absolute;
    top: 0;
    right: 0;
    background-size: auto;
    background-size: 15px;
    padding: 6px 12px;
    border: 1px solid #d5d5d5;
    border-top: 0;
    border-right: 0;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
}

    .copypic {
    position: absolute;
    top: 5px;
    left: 5px;
    }
    </style>
{% endblock styles %}

{% block content %}
    <div class="container-fluid form-postin">
    <form action="{% url 'shorting:mainpage' %}" method="post" id="post-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button name="submit" class="btn btn-warning">Get short url</button>

        <div id="results" class='alert-box alert radius'></div>

    </form>
        </div>

{% endblock content %}

{% block scripts %}
    <script src='{% static "index.js" %}'></script>
    <script src='{% static "copytext.js" %}'></script>
{% endblock scripts %}